
############################
# Node.js
############################

biblioteca-back/lib-cov
biblioteca-back/lcov.info
biblioteca-back/pids
biblioteca-back/logs
biblioteca-back/results
biblioteca-back/node_modules
biblioteca-back/.node_history

############################
# Tests
############################

biblioteca-back/coverage
