<!DOCTYPE html>
<html lang="en">
<head>
    <% include('./plantillas/head');  %>
</head>
<body>
    <h1>Registro: <%- pageName %> </h1>
    <form action="/alumnos" method="post">
        <fieldset>
            <legend>Registro de Alumnos</legend>
            <label for="nombre">Nombre:</label>
        </fieldset>
    </form>
</body>
</html>